*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: 'Fjalla One', sans-serif;
    font-style: bold;
    
    

}
body{
    background: rgb(52,43,191);
    background-size: cover;
    background-repeat: repeat;
    background: rgb(52,43,191);
    background: #F0F2F0;  
    background: -webkit-linear-gradient(to right, #000C40, #F0F2F0); 
    background: linear-gradient(to right, #000C40, #F0F2F0);
    
}
header {
    background: #F0F2F0;  
    background: -webkit-linear-gradient(to right, #000C40, #F0F2F0);  
    background: linear-gradient(to right, #000C40, #F0F2F0);    
    display:flex;
    position: sticky;
    top:0;
    justify-content: space-between;
    height: 100px;
    box-shadow:3px 3px 3px rgb(255, 255, 255) ;
    align-items: center;
    margin-bottom: 100PX;
    
    
}
.navbar{ 
    gap:30px; 
}
.mediaquerihome a{
    display: none;
    
}

.navbar ul .navbarmedia{ 
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 70px;
    margin-right: 30px;
    flex-wrap: wrap;
}
.logo{
     height: 100%;
     margin-left: 30px;
     cursor: pointer;
    }
.navbar a {
        padding:10px;
        font-size: 20px;
        
    }
.navbar a:hover, .mediaquerihome a:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    text-decoration:underline;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 25px;
    border: 2px rgb(255, 255, 255)solid;
    box-shadow: 7px 7px black;
}
.hero{
    display: flex;
    justify-content: space-around;
    height: 700px ;
    
}
.descriptiontext{
    display: flex;
    width: 40%;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
   
}
.h2masimagen img{
    width: 200px;  
    height: 200px;
    cursor: pointer;
    
}
.h2masimagen{
    display: flex;
    align-items: center;
  justify-content: center;
  gap: 30px;
}

.h2masimagen h2{
    align-items: center;
    display: flex;
    font-size: 50px;
    gap: 50px

}

.descriptiontext p{
    font-size: 30px;
    font-weight: bold;
    }
.descriptiontext p img{
      height: 30px;
      width: 30px;
      margin: 5px;
      cursor: pointer;
        
   }
.imagemain{
    display: flex;
    justify-content: flex-end;
  

}
.imagemain img{
   border-radius: 10px;
   border: 5pX solid white;
   border-radius: 20px;

}
.buttonshero button:hover {
    background-color: red;
    gap: 50px;
}
.buttonshero button{
   margin-right: 30px;
    gap: 50px;
}
#projects{ 
    color: red;
    padding: 10px 30px;
    background-color: black;
    border: 2px solid white;
    border-radius: 30px ;
    font-size: 20px;
}
#projects a {
    color:white
}
#contact {
    padding: 10px 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px ;
    font-size: 20px;
    cursor: pointer;
    
}
.textocarrera{
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}
@media (max-width:1080px){
    .imagemain img{
        width: 70%;
    }
    .hero{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
    }
    .descriptiontext{
        width: 90%;

    }
    .imagemain{
        justify-content: center;
        align-items: center;
    
    }
    .buttonshero{
        align-items: center;
        justify-content: ce
    }
    
}
@media (max-width:700px){
   
    .hero{
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
    }
    .mediaquerihome a{
        display: flex;
        padding: 10px;
        margin-right: 20px;
    }
    .navbarmedia li{
        display: none;
    }
    .buttonshero button{
        margin: 0 20px;
    }
}
@media (max-width:500px){

    .imagemain{
        justify-content: center; 
    }
.imagemain img{
    width: 70%;
    justify-content: center;
    align-items: center;

}

}
@media (max-width:500px){
    .imagemain img{
        width: 40%;
    }
.h2masimagen h2 img{
    width: 100px;
    height: 100px;
}
.buttonshero{
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.h2masimagen h2{
    font-size: 30px;
}
.descriptiontext p{
    font-size: 15px;
    align-items: center;
    justify-content: center;
}
.buttonshero button{
    margin: 0;
}}